$pureWhiteColor: #ffffff;
$primaryTextColor: #fcfcfc;
$secondaryTextColor: #000000;
$thirdTextColor: #131313;
$bgWhiteColor: #fcfcfc;
$bgSaladColor: #aec6a5;
$yellowCardColor: #efd478;
$acentColor: #f8d24e;
$btnFocusColor: #0a8817;
$disableColor: #ababab;
$lightGreyColor: #d9d9d9;
$darkGreyColor: #7a7a7a;
$orangeCardColor: #d6936d;
$bgHeroColor: #84a178;
$modalCardColor: #96AF8C;
$animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);