<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Our locations</h2>
        <ul class="contacts__locations">
            <li class="contacts__card">
                <p class="contacts__category">
                    CAFE
                </p>
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <p class="city">
                            Chicago
                        </p>
                        <address>
                            10340 Ridgeland Ave, Chicago <br>Ridge, IL 60415, USA
                        </address> 
                    </li>
                    <li class="contacts__item">
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__item">
                        <a href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card">
                <p class="contacts__category">
                    FOOD TRUCK
                </p>
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <p class="city">
                            Los Angeles
                        </p>
                        <address>
                            1003 Manhattan Ave, Manhattan <br>Beach, CA 90263, USA
                        </address> 
                    </li>
                    <li class="contacts__item">
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__item">
                        <a href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>                                
            </li>
            <li class="contacts__card">
                <p class="contacts__category">
                    CAFE
                </p>
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <p class="city">
                            New York
                        </p>
                        <address>
                            726 Sterling Pl, Brooklyn, NY <br>11222, USA
                        </address> 
                    </li>
                    <li class="contacts__item">
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__item">
                        <a href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>               
            </li>
        </ul>
        <button>Our Locations</button>
        <button>Franchise</button>
    </div>
    
</section