<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our locations</h2>
    <ul class="contacts__locations">
      <li class="contacts__card">
        <p class="contacts__category">CAFE</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <p class="contacts__city">Chicago</p>
            <address class="contacts__address">
              <a
                href="https://goo.gl/maps/dLgTAZeyw7zY2ANh9"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Address in Chicago"
                >10340 Ridgeland Ave, Chicago <br />Ridge, IL 60415, USA</a
              >
            </address>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__opening-time">
                <p>Monday - Friday</p>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__opening-time">
                <p>Saturday - Sunday</p>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" aria-label="telephone"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" aria-label="email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <p class="contacts__category">FOOD TRUCK</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <p class="contacts__city">Los Angeles</p>
            <address class="contacts__address">
              <a
                href="https://goo.gl/maps/TKPjvZm8tF7NfVaw7"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Address in Los Angeles"
                >1003 Manhattan Ave, Manhattan <br />Beach, CA 90263, USA</a
              >
            </address>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__opening-time">
                <p>Monday - Friday</p>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__opening-time">
                <p>Saturday - Sunday</p>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" aria-label="telephone"
              >+61(0) 383 766 284
            </a>
            <a href="mailto:noreply@envato.com" aria-label="email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <p class="contacts__category">CAFE</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <p class="contacts__city">New York</p>
            <address class="contacts__address">
              <a
                href="https://goo.gl/maps/vPSPVxvmP1MsREyi6"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Address in New York"
                >726 Sterling Pl, Brooklyn, NY <br />11222, USA</a
              >
            </address>
          </li>
          <li class="contacts__item">
            <ul>
              <li class="contacts__opening-time">
                <p>Monday - Friday</p>
                <p class="contacts__hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__opening-time">
                <p>Saturday - Sunday</p>
                <p class="contacts__hours">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__info"
              href="tel:+61(0)383766284"
              aria-label="telephone"
              >+61(0) 383 766 284
            </a>
            <a
              class="contacts__info"
              href="mailto:noreply@envato.com"
              aria-label="email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li>
        <button
          class="button button--contacts"
          type="button"
          aria-label="open location"
        >
          Our Locations
          <svg class="contacts__btn-icon" width="12" height="12">
            <use href="./images/sprite.svg#btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="btn btn--contacts" type="button" aria-label="franchise">
          Franchise
          <svg class="contacts__btn-icon" width="12" height="12">
            <use href="./images/sprite.svg#btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
