<section class="hero">
    <div class="container">
        <h1>
            ice cream made with <span>passion</span>
        </h1>
        <div>
            <a href="#products" class="" name="products">Products</a>
            <a href="#about" class="" name="about">How it's made?</a>
        </div>
        <div>
            <img src="./images/hero/dots-lg.png" alt="" />
            <picture>
                <source media="(min-width: 1200px)" srcset="
            ./images/hero/ice-main-455-lg.png    1x,
            ./images/hero/ice-main-910-lg-2x.png 2x
          " type="image/png" />
                <source media="(min-width: 768px)" srcset="./images/hero/ice-main-270-md.png"
                    type="image/png" />
                <source media="(max-width: 767px)" srcset="
            ./images/hero/ice-main-170-sm.png    1x,
            ./images/hero/ice-main-340-sm-2x.png 2x
          " type="image/png" />
                <img src="./images/hero/ice-main-170sm.png" alt="ice-cream" />
            </picture>
        </div>
        <div>
            <picture>
                <source media="(min-width: 1200px)" srcset="./images/hero/cream-450-2x.png"
                    type="image/png" />
                <source media="(min-width: 768px)" srcset="./images/hero/cream-304md-2x.png"
                    type="image/png" />
                <source media="(max-width: 767px)" srcset="
            ./images/hero/cream-152md.png    1x,
            ./images/hero/cream-304md-2x.png 2x
          " type="image/png" />
                <img src="./images/hero/cream-152md.png" alt="ice-cream" class=""
                    id="" />
            </picture>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
                <a href="#" class="" name="about">
                    <svg>
                        <use href="./images/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    <span>16</span>cafes
                </li>
                <li>
                    <span>23</span>food trucks
                </li>
            </ul>
        </div>
    </div>
</section>