<div class="backdrop" data-modal="more">
  <div class="modal">
    <button class="close-button" type="button" data-modal-close>
      <svg class="about__button--arrow" width="20" height="20">
        <use href="./images/sprite.svg#modal-close-btn"></use> 
      </svg>
    </button>
    <h2 class="modal__title">How it’s made?</h2>
    <div class="move-contein"> 
    <iframe
      class="about__video"
      src="https://www.youtube.com/embed/hO-7cz7gyAY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe> 
  </div>
    <p class="about__video-descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
