<div class="backdrop is-hidden" data-modal="more">
  <div class="modal">
    <button class="close-button" type="button" data-modal-close>
      <svg class="about__button--arrow" width="32" height="32">
        <use href="./images/sprite.svg#modal-close-btn"></use>
      </svg>
    </button>
    <h2 class="title modal__title about-modal__title">How it’s made?</h2>
    <iframe
      width="560"
      height="315"
      class="about__video"
      src="https://www.youtube.com/embed/hO-7cz7gyAY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <p class="about__video-descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
