<section id="products" class="products">
  <div class="container">
    <p class="products__uppertitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li data-aos="fade-up" class="products__item--ice-cream">
        <div class="item__wrapper--ice-cream">
          <picture>
            <source
              srcset="
                ./images/products/desc/desc-1-@1x.webp 1x,
                ./images/products/desc/desc-1-@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/desc/desc-1-@1x.jpg 1x,
                ./images/products/desc/desc-1-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./images/products/tab/tab1-@1x.webp 1x,
                ./images/products/tab/tab1-@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/tab/tab1-@1x.jpg 1x,
                ./images/products/tab/tab1-@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./images/products/mob/mob1-@1x.webp 1x,
                ./images/products/mob/mob1-@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/mob/mob1-@1x.jpg 1x,
                ./images/products/mob/mob1-@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              class="products__img"
              src="./images/products/mob/mob1-@1x.jpg"
              alt="Морожено ice cream"
            />
          </picture>
        </div>
        <h3 class="item__title">ice cream</h3>
        <p class="item__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="item__button js-products-open"
          aria-label="recipe"
          data-buy-product-open
        >
          <svg class="products__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li data-aos="fade-up" class="products__item--ice-coffee">
        <div class="item__wrapper--ice-coffee">
          <picture>
            <source
              srcset="
                ./images/products/desc/desc-2-@1x.webp 1x,
                ./images/products/desc/desc-2-@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/desc/desc-2-@1x.jpg 1x,
                ./images/products/desc/desc-2-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./images/products/tab/tab2-@1x.webp 1x,
                ./images/products/tab/tab2-@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/tab/tab2-@1x.jpg 1x,
                ./images/products/tab/tab2-@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./images/products/mob/mob2-@1x.webp 1x,
                ./images/products/mob/mob2-@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/mob/mob2-@1x.jpg 1x,
                ./images/products/mob/mob2-@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              class="products__img"
              src="./images/products/mob/mob2-@1x.jpg"
              alt="Морожено ice cream"
            />
          </picture>
        </div>
        <h3 class="item__title">ice coffee</h3>
        <p class="item__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button
          class="item__button js-products-open"
          aria-label="recipe"
          data-buy-coffe-open
        >
          <svg class="products__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>

      <li data-aos="fade-up" class="products__item--milkshakes">
        <div class="item__wrapper--milkshakes">
          <picture>
            <source
              srcset="
                ./images/products/desc/desc-3-@1x.webp 1x,
                ./images/products/desc/desc-3-@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/desc/desc-3-@1x.jpg 1x,
                ./images/products/desc/desc-3-@2x.jpg 2x
              "
              media="(min-width: 1200px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./images/products/tab/tab3-@1x.webp 1x,
                ./images/products/tab/tab3-@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/tab/tab3-@1x.jpg 1x,
                ./images/products/tab/tab3-@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpg"
            />

            <source
              srcset="
                ./images/products/mob/mob3-@1x.webp 1x,
                ./images/products/mob/mob3-@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/products/mob/mob3-@1x.jpg 1x,
                ./images/products/mob/mob3-@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpg"
            />

            <img
              class="products__img"
              src="./images/products/mob/mob3-@1x.jpg"
              alt="Морожено ice cream"
            />
          </picture>
        </div>
        <h3 class="item__title">milkshakes</h3>
        <p class="item__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button
          class="item__button js-products-open"
          aria-label="recipe"
          data-buy-product3-open
        >
          <svg class="products__icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
