/**
  |============================
  | Reviews
  |============================
*/
.reviews {
  margin-top: 80px;
  margin-bottom: 48px;

  //   Desktop styles
  @media screen and (min-width: 1200px) {
    max-width: 968px;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
  }
}

.reviews__list {
  display: flex;
  overflow: hidden;
  width: fit-content;
}

.reviews__item {
  width: 440px;
  //  Desktop styles
  @media screen and (min-width: 1200px) {
    width: 926px;
  }
}
.reviews__img {
  margin: 0 auto 32px auto;
  height: 85px;
  max-width: 85px;
}
.reviews__appraisal {
  margin: 0 20px 30px 20px;
}
.reviews__text {
  padding: 34px 39px;

  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;

  border-radius: 10px;
  background-color: #84a178;
}

.reviews__title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  text-align: center;

  color: #131313;
}
.view {
  width: 926px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/**
  |============================
  | SLIDER
  |============================
*/

.slider {
  display: flex;
  justify-content: center;
  gap: 18px;

  margin-top: 32px;
}
.slider__btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.slider__btn:hover,
.slider__btn:focus {
  background-color: #84a178;
}

.active {
  width: 14px;
  height: 14px;
  background-color: #84a178;
}
