/**
  |============================
  | Reviews
  |============================
*/
.reviews {
  margin: 80 auto 48px auto;

  // Tablet styles
  @media screen and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  //   Desktop styles
  @media screen and (min-width: 1200px) {
    margin-bottom: 100px;
    margin-top: 128px;
  }
}

.reviews__list {
  display: flex;
  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 705px;
  }
  @media screen and (min-width: 1200px) {
    width: 900px;
  }
}

.reviews__item {
  width: 440px;
  //  Desktop styles
  @media screen and (min-width: 1200px) {
    width: 926px;
  }
}
.reviews__img {
  margin: 0 auto 32px auto;
  height: 85px;
  max-width: 85px;

  // Tablet only styles
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 28px;
  }
}
.reviews__appraisal {
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    height: 256px;
    }

  @media screen and (min-width: 768px) {
    height: 138px;
  }
}
.reviews__text {
  padding: 34px 39px;

  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;

  border-radius: 10px;
  background-color: #84a178;
}

.reviews__title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  text-align: center;

  color: #131313;
}
.view {
  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
  width: 926px;
  margin-left: auto;
  margin-right: auto;
}
/**
  |============================
  | SLIDER
  |============================
*/

// .slider {
//   display: flex;
//   justify-content: center;
//   gap: 18px;

//   margin-top: 32px;
// }

// .active {
//   width: 14px;
//   height: 14px;
//   background-color: #84a178;
// }
// .slick-slide-contro00 {
//   width: 12px;
//   height: 12px;
// }


.slick-dots li {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.slick-dots button {
  opacity: 0;
}

.slick-dots .slick-active {
  background-color: $bg-hero-color;
}

