.img_gallery {
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  overflow: hidden;

  @media screen and (min-width: 480px) {
    width: 279px;
    height: 130px;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 327px;
  }

  @media screen and (min-width: 1200px) {
    width: 1013px;
    height: 422px;
  }
}

.gallery {
  position: relative;
}

.container {
  position: absolute;
  top: 5px;
  left: 5px;
}
