// header modal window

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: visibility $animations, opacity $animations;
  z-index: 310;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) translateY(-100%) translateX(-100%)
      scale(0.5);
    opacity: 0;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0) translateX(0) scale(1);
  width: 280px;
  max-height: 986px;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
  background-color: $primery-text-color;
  border: 2px solid $acent-color;
  border-radius: 10px;
  opacity: 1;
  transition: transform $animations, opacity $animations, visibility $animations;
  z-index: 320;

  @media screen and (max-width: 767px) {
    height: calc(100% - 30px);
  }

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 644px;
  }

  &-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: url(../images/cursor.png), pointer;
    transition: color var(--animation-main-time-cube),
      box-shadow var(--animation-main-time-cube);
  }

  &-btn__icon {
    fill: currentColor;
  }

  &-btn:hover,
  &-btn:focus {
    color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.modal__wrap {
  padding: 30px;
}

.modal-form {
  height: 100%;
  position: relative;
  text-align: center;
  display: block;
}

.modal-form__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: $third-text-color;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 40px;
  }
}

.buy-now-modal-form__list {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.buy-now-modal-form__item {
  width: 132px;
  height: 200px;
  padding-top: 65px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
}

.buy-now-modal-card__thumb {
  display: block;
  position: relative;
  padding-top: 96px;
  width: 132px;
  height: 135px;

  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 16px;

  &-ice-cream {
    border: 2px solid $modal-card-color;
  }

  &-ice-coffee {
    border: 2px solid $yellow-card-color;
  }

  &-milkshake {
    border: 2px solid $orange-card-color;
  }
}

.buy-now-modal-card__fon {
  width: 131px;
  height: 131px;
  position: absolute;
  top: -37%;
  left: -0.5%;
  border-radius: 50%;

  &-ice-cream {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &-ice-coffee {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &-milkshake {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
}

.buy-now-modal-card__img {
  position: absolute;
  top: -50%;
  left: -1%;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.buy-now-modal-card__text {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
}

.register-form-group {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
.register-form-field {
  display: block;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &:focus-within > .register-form-field__input,
  &:focus > .register-form-field__input,
  &:hover > .register-form-field__input,
  &__input:not(:placeholder-shown) {
    border-color: $acent-color;
  }

  &:focus-within > .register-form-field__message,
  &:focus > .register-form-field__message,
  &:hover > .register-form-field__message,
  &__message:not(:placeholder-shown) {
    border-color: $acent-color;
  }
}

.register-form-field__label {
  position: absolute;
  left: 16px;
  top: 25%;
  color: $third-text-color;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.register-form-field__input {
  width: 100%;
  min-height: 42px;
  padding-left: 75px;
  padding-right: 10px;
  color: $third-text-color;
  font-size: 14px;
  line-height: calc(20 / 14);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  -webkit-transition: border-color $animations;
  transition: border-color $animations;
  outline: none;

  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }
}

.register-form-field__message {
  width: 100%;
  height: 65px;
  padding: 10px;
  color: $third-text-color;
  font-size: 14px;
  line-height: calc(20 / 14);

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  -webkit-transition: border-color $animations;
  transition: border-color $animations;
  outline: none;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.register-form__button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
}

.buy-now-modal-product__checkbox {
  &-ice-cream:checked ~ .buy-now-modal-card__thumb-ice-cream {
    background-color: $modal-card-color;
  }

  &-ice-coffee:checked ~ .buy-now-modal-card__thumb-ice-coffee {
    background-color: $yellow-card-color;
  }

  &-milkshake:checked ~ .buy-now-modal-card__thumb-milkshake {
    background-color: $orange-card-color;
  }
}

.buy-now-modal-product:hover,
.buy-now-modal-product:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
