.products{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px){
        padding-bottom: 82px;
    }

        @media screen and (min-width: 1200px) {
            padding-bottom: 66px;
        }
}
.products__uppertitle{
    margin-bottom: 12px;

    font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
        text-align: center;
        text-transform: uppercase;
    
        color: $third-text-color;

        @media screen and (min-width: 768px){
                    font-size: 22px;
                line-height: 1.22;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        @media screen and (min-width: 1200px){
            font-size: 30px;
            line-height: 1.23;
        }
}

.products__title{
    
    margin-bottom: 148px;
    font-size: 30px;
    line-height: 1.26;

    text-align: center;
    text-transform: uppercase;

        color: $third-text-color;

        @media screen and (min-width: 768px){
            font-size: 34px;
            margin-bottom: 200px;
        }

        @media screen and (min-width:1200px){
            font-size: 36px;
            line-height: 1.25;
            
            letter-spacing: 0.06em;

            margin-bottom: 303px;
        }
    }

    .products__list{

        @media screen and (min-width: 768px){
            display: flex;
            gap: 16px;
        }

        @media screen and (min-width:1200px){
            gap: 32px;
        }
    }

    .products__item--ice-cream{
        position: relative;
        background: $bg-salad-color ;
            border-radius: 24px; 
            min-height: 420px;
            margin-bottom: 164px;
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
            
            @media screen and (min-width: 768px){
                max-width: 224px;
                height: 428px;
                margin-bottom: 0;
            }

            @media screen and (min-width: 1200px){
                max-width: 370.16px;
                min-height: 535.51px;
            }
    }

    .products__item--ice-coffee{
                position: relative;
        background: $yellow-card-color;
        border-radius: 24px;
        margin-bottom: 164px;
        max-width: 280px;
        min-height: 420px;
        margin-left: auto;
            margin-right: auto;
        
            @media screen and (min-width: 768px) {
                max-width: 224px;
                height: 428px;
                margin-bottom: 0;
            }
        
            @media screen and (min-width: 1200px) {
                max-width: 370.16px;
                min-height: 535.51px;
            }
    }

    .products__item--milkshakes{
                position: relative;
        background: $orange-card-color;
        border-radius: 24px;
        min-height: 420px;
        margin-bottom: 60px;
                max-width: 280px;
                margin-left: auto;
                    margin-right: auto;
        
            @media screen and (min-width: 768px) {
                max-width: 224px;
                height: 428px;
                margin-bottom: 0;
            }
        
            @media screen and (min-width: 1200px) {
                max-width: 370.16px;
                min-height: 535.51px;
            }
    }

    .products__img{
        margin-top: -10px;
        // width: 201px;
        // height: 200px;
        border-radius: 150%;
    }

    .item__title{
        padding-top: 123px;

            font-weight: 700;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            text-transform: uppercase;
        
        color: $third-text-color;    
    
        @media screen and (min-width: 768px){
            padding-top: 108px;
            font-size: 22px;
                line-height: 1.22;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 166px;
                font-size: 30px;
                line-height: 1.23;
    }
}


.products__icon{
    width: 40px;
    height: 24px;
        transition-duration: 255ms;
    &:hover{
        width: 50px;
    }

    &:focus{
        width: 50px;
    }
}

.item__description{
    padding: 40 40 0;

    font-size: 14px;
    line-height: 176%;
    
    text-align: center;
    
    color: $third-text-color;

    @media screen and (min-width:768px){
     padding: 40 26 0;
    }

    @media screen and (min-width: 1200px){
        font-size: 16px;
        padding: 62 65 0;
    }
}


.item__wrapper--ice-cream{
    position: absolute;
    width: 201px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    top: -100px;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    


    @media screen and (min-width: 1200px){
        width: 302px;
        height: 310px;
        top: -170px;
    }
}

.item__wrapper--ice-coffee{
position: absolute;
    width: 201px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    top: -100px;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

    @media screen and (min-width: 1200px) {
            width: 302px;
            height: 310px;
                top: -170px;
        }
}

.item__wrapper--milkshakes{
position: absolute;
    width: 201px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    top: -100px;
    left: 0;
        right: 0;
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
            box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);   

    @media screen and (min-width: 1200px) {
            width: 302px;
            height: 310px;
            top: -170px;
        }
}

.item__button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 0 42%;
    top: 380px;
    position: absolute;

    @media screen and (min-width: 768px){
        margin: 0 39%;
        top: 400px;
    }

        @media screen and (min-width: 1200px) {
                    top: 480px; 
                    margin: 0 44%;
        }
}


